# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Data files
matches_data/
*.csv

# IDE settings
.idea/
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/